@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: #eaeaea;
}

body {
  background-color: #0a0a0a;
  
}
.main{
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.toast *{
  color: #000;
}
.container{
  max-width: 1200px;
}


.logo{
  font-size: 28px;
  font-weight: bold;
}

.link{
  text-decoration: none;
}


h1{
  font-size: 32px;
  margin-bottom: 12px;
}
p{
color: #bcbcbc;
}


main{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}


.herosection{
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.herosection h1{
  font-size: 72px;
  text-align: center;
}

.contactbtn{
  height: 40px;
  width: 180px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 50px;
  background-color: #FB4635;
  border: none;
  font-size: 16px;
  transition: ease 0.3s;
  opacity: 0.7;
}

.contactbtn:hover{
  opacity: 1;
}

footer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 30px 0;
}

.aboutsection{
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content{
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #2a2a2a;
}


.authContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}